.outer {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: none;
  box-sizing: border-box;
  color: black;


  .wrapper {
    padding: 15px 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 400px;
    height: 100%;
    background: #F5F5F5;
    border: 2px solid #171d24;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .header {
      height: 60px;
      width: 100%;
      font-size: 26px;
      font-weight: 700;
      line-height: 32px;
    }

    .content {
      height: 100%;
      width: 100%;
    }

    .footer {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: 100%;
    }
  }
}
